.search-container-home {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.search-container input {
  text-align: right;
  padding-left: 10px;
  width: 300px;
  border-radius: 6px 0 0 6px;
  border: none;
  background-color: #e96c2c;
}
.search-container input::placeholder{
  color: #ffffff;
}
.search-icon-home {
  width: 50px;
  background-color: #e96c2c;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
/* Mobile / Tablet View for Search Container */
@media (max-width: 768px) {
  .search-container-home {
    width: 90%;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
  }

  .search-container input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    text-align: left;
  }

  .search-icon-home {
    width: 100%;
    padding: 10px 0;
    border-radius: 6px;
  }
}